<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Character</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/CharacterPage.css" asp-append-version="true" />
    <!--<link rel="stylesheet" href="~/GenshinDB.styles.css" asp-append-version="true" />-->

    @*<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>*@
</head>
<body>@RenderBody()</body>
</html>