<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Genshin Database</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/card.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--<link rel="stylesheet" href="~/GenshinDB.styles.css" asp-append-version="true" />-->

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus icon'></i>
            <div class="logo_name">Genshin Database</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a class="" asp-area="" asp-controller="Characters" asp-action="ListCharacters">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Characters</span>
                </a>
                <span class="tooltip">Characters</span>
            </li>
            <li>
                <a class="" asp-area="" asp-controller="Weapons" asp-action="ListWeapons">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Weapons</span>
                </a>
                <span class="tooltip">Weapons</span>
            </li>
            <li>
                <a class="" asp-area="" asp-controller="Nations" asp-action="ListNations">
                    <i class='bx bx-chat'></i>
                    <span class="links_name">Nations</span>
                </a>
                <span class="tooltip">Nations</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <!--<img src="profile.jpg" alt="profileImg">-->
                    <div class="name_job">
                        <div class="name">Horou</div>
                        <div class="job">Developer</div>
                    </div>
                </div>
                <i class='bx bxl-linkedin-square' id="linkedin"><a href="https://www.linkedin.com/in/gabriel-henrique-793312193/"></a></i>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="container" style="max-width: 2560px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </section>
</body>
</html>
