@model GenshinDB.Models.Characters


    <div>
        <h2 style="margin-top:8px;">@Model.CharactersName</h2>
        <h2>@Model.CharactersTitle</h2>
    </div>


    <h3>@Model.CharactersId</h3>
    <h3>@Model.CharactersDescription</h3>
    